@charset "UTF-8";

.orderTitle{
    width: 86%;
    margin-top: 80px;
}

.orderTitle p{
    font-size: 40px;
}

.orderTitle hr{
    height: 4px !important;
    background-color: #434343; 
}

.byerInfo-title p{
    font-size: 24px;
}

.byerInfo table{
    border: 1.5px solid rgba(0, 0, 0, 0.38);
    border-collapse: collapse;
}

.byerInfo th{
    text-align: right;
    background-color: rgba(0, 0, 0, 0.07);
    width: 150px;
    height: 46px;
    border-collapse: collapse;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    padding: 10px;
}

.byerInfo td{
    width: 750px;
    height: 46px;
    border-collapse: collapse;
    border-left: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    padding: 10px;
}

.paymentInfo-title p{
    font-size: 24px;
}

.paymentInfo table{
    border: 1.5px solid rgba(0, 0, 0, 0.38);
    border-collapse: collapse;
}

.paymentInfo th{
    text-align: right;
    background-color: rgba(0, 0, 0, 0.07);
    width: 150px;
    height: 46px;
    border-collapse: collapse;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    padding: 10px;
    font-size: 18px;
}

.paymentInfo td{
    width: 750px;
    height: 46px;
    border-collapse: collapse;
    border-left: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    padding: 10px;
    font-size: 18px;
}

.pay-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pay-btn button{
    width: 280px;
    height: 50px;
    border-radius: 10px;
    border: solid 1px black;
    background-color: #00A6FB;
    font-size: 24px;
}

#purchase-request{
    width: 730px;
    border: 1px solid rgb(212, 212, 212);
    padding-left: 5px;
}

#productCountArea{
    display: none;
}

#product-name {
    width: 730px;
}