hr{
    margin: 8px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    width: 1056px;
}

#top-wrapper{
    /* padding-left: 20px; */
}

#board-title-wrapper{
    margin-left: 10px;
}

#board-title{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

#board-title > p {
    padding-left: 18px;
    padding-top: 5px;
}

#writer-date--update-delete{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    /* padding-left: 10px; */
    /* padding-left: 5px;
    padding-right: 5px; */
}

#writer-date--update-delete > div > button {
    background-color: white;
    border: none;
    font-weight: 600;
    font-size: medium;
    cursor: pointer;
}

#writer-date{
    display: flex;
    align-items: center;
    font-weight: 600;
    color: rgb(111, 111, 111);
}

#second-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#content{
    margin-bottom: 10px;
    /* border: 1px solid black;
    border-radius: 2px;
    border-radius: 8px 8px 0px 0px; */
    width: 100%;
    height: 300px;
    padding: 20px;
    font-size: 16px;
    resize:none;
}

#etc-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93%;
    text-align: center;
}

#etc-menu > div{
    display: flex;
}

#etc-menu > div > div{ 
    display: flex;
    align-items: center; 
}

.heart-div{
    margin-right: 5px;
    padding-top: 25px;
}

.ptext{
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center; 
    padding-top: 2px;
}

#comment-wrapper{
    display: flex;
    justify-content: center;
}

#comment{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid black;
    width: 95%;
    height: 155px;
    position: relative;
}

#form-inside{
    overflow:hidden;
    height: auto;
}

#etc-reply-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.img-button{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

#link-img{

}

#siren-img{
    height: 35px;
}

#siren-btn{
    padding-right: 0px;
}

#URLcopy-btn{
    padding-top: 5px;
    padding-left: 0px;
}

#write-comment{
    margin-top: 10px;
    padding-top:2px;
    padding-left: 10px;
    width: 100%;
    height: 85px;
    font-size: 16px;
    outline: none;
    resize: none;
}

#comment > div{
    display: flex;
    justify-content: end;
}

#write-comment::placeholder{
    color: rgb(195, 195, 195);
}

#write-comment ::-webkit-scrollbar {
    display: none;
}


#sumbit-div{
    display: flex;
    width: 100%;
    justify-content: end;
}

#submit-btn{
    background-color: white;
    border: none;
    font-weight: 600;
    /* position: absolute; */
    right: 220px;
    bottom: -80px;
    cursor: pointer;
}

/***** 댓글 div *****/
.comments-body-wrapper{
    display: flex;
    justify-content: center;
}

#comments-body{
    width: 98%;
    display: flex;
    flex-direction: column;
}

.main-comment{
    display: flex;
    height: 100px;
}

#comment-left{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    padding: 20px;
    padding-left: 30px;
    padding-top: 10px;
    width: 200px;
}

#comment-left > p {
    /* margin-bottom: 5px; */
    font-weight: 600;
    color: rgb(95, 95, 95);
    padding-bottom: 2px;
    font-size: 12px;
}

.user-name{
    color: black;   
    font-size: large;
    font-weight: 600;
    margin-bottom: 0px;
    /* padding-left: 10px; */
}

#etc-reply-wrapper .comment .user-name{
    padding-left: 10px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    /* padding-top: 5px; */
}

/* 사용자 닉네임 */
#comment-left .user-name {
    color: black;   
    font-size: large;
    font-weight: 600;
}



.add-sub-comment{
    background-color: white;
    border: none;
    width: 55px;
    padding: 0px;
    font-weight: 600;
    color: rgb(95, 95, 95);
    cursor: pointer;
    font-size: 13px;
}

.comment-middle{
    padding: 10px;
    padding-top: 15px;
    width: calc(100% - 290px);
    font-size: 16px;
}

.comment-right{
    display: flex;
    align-items: end;
}

.comment-right button{
    background-color: white;
    border: none;
    font-size: medium;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

#sub-comments-body{
    width: 88%;
    display: flex;
    flex-direction: column;
    position: relative;
}

#drift-arrow{
    width: 20px;
    position: absolute;
    left: 0px;
    top: 10px;
}

/* ======== 게시글 리스트 css ============ */
#h1-wrapper {
    height: 150px;
    width: 100%;
}

h1 {
    height: 150px;
    width: 100%;
    text-align: center;
    padding-top: 55px;
}

#bottom-wrapper {
    /* width: 100%; */
    margin-top: 100px;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

#top-table { /* 헤더 대용 테이블 */
    font-size: 20px;
    border-bottom: 2px solid black;
}

#top-table th {
    text-align: center;
    height: 40px;
    padding: 10px;
}

#top-table th:nth-child(1) {
    width: 8%;
}

#th-title {
    /* width: 50%; */
    font-weight: bold;
}

.category-choice {
    border: 1px solid black;
    border-radius: 9px;
    width: 90px;
    height: 32px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

#writer{
    width: 150px;
}

#write-date, #write-date2{
    width: 130px;
}

#view-count{
    width: 80px;
}

#view-counts{
    width: 80px;
}

#main-table {
    border-top: 3px solid black;
    border-bottom: 3px solid rgb(212, 210, 210);
}


#main-table td {
    text-align: center;
    height: 40px;
    padding: 10px;
    font-size: 16px; /* 게시글 목록 테이블의 기본 글씨 크기 */
}

#main-table td:nth-child(1) {
    width: 110px;
}

#main-table td:nth-child(2) {
    text-align: left;
    padding-left: 100px;
}


/* #main-table td:nth-child(5) {
    width: 6%;
} */

#board-category {
    font-size: 16px;
    font-weight: bold;
}

#write-btn {
    border: 1px solid black;
    border-radius: 9px;
    width: 90px;
    height: 32px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding-top: 2px;
    cursor: pointer;
}

.btn-div{
    display: flex;
}

.btn{
    font-weight: 600 !important;
}

#boCount-wirte-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

#search-category {
    border: 1px solid rgb(176, 174, 174);
    border-radius: 9px;
    width: 80px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

#board-search-bar {
    border: 1px solid rgb(196, 195, 195);
    border-radius: 9px 0px 0px 9px;
    width: 400px;
    height: 30px;
    padding-left: 10px;
    margin-left: 10px;
    border-right: none;
}

#searchbar-div {
    display: flex;
    justify-content: center;
}

#paging-div {
    margin-top: 50px;
    display: flex;
    justify-self: center;
}

.page-btn {
    border: none;
    background-color: white;
    font-weight: 600;
    cursor: pointer;
}

#search-btn {
    border: 1px solid rgb(196, 195, 195);
    background-color: white;
    border-left: none;
    border-radius: 0px 9px 9px 0px;
    cursor: pointer;
}

.heart-div > p {
    margin: 0px;
    display: flex;
    align-items: center;
}

#etc-menu{
    height: 60px;
}

#copy-siren{
    display: flex;
    align-items: center;
    padding-top: 20px;
}

#copy-siren > button{
    background-color: white;
    border: none;
}

/************ 게시글 삭제 모달 css *************/
.modal{ /* 모달 위치  */
    position: fixed;  
}

#delete-modal .custom-modal{
    height: 120px;
    border-radius: 15px;
    width: 300px ;
    left: 50%; 
    top: 320px; 
    /* transform: none; */
}


#delete-modal .custom-modal-header{
    justify-content: center;
    align-items: center;
}

#delete-modal .custom-modal-title{
    font-size: 18px;
    text-align: center;
}

#delete-modal .custom-modal-content{
    display: flex;
    justify-content: center;
    height: 80px;
    margin-top: 10px;
}

/* 모달 가운데 border 제거 */
#delete-modal .custom-modal-header{
    border-bottom: none;
    padding-top: 10px;
}

.report-h3{
    margin-top: 0px;
    margin-bottom: 20px;
    /* padding-top: 20px; */
}

/* 모달 [예/아니오] 버튼  */
.modal-btn{
    width: 100px;
    height: 30px;
    border: 1px solid #00A6fB;
    border-radius: 15px;
    font-weight: 600;
}

#yes-btn{
    background-color: #00A6fB;
    color: #ffffff;
    
}

#no-btn{
    background-color: #ffffff;
    color: #00A6fB;
    margin-left: 10px;
}
/************ 게시글 신고 모달 css *************/
#report-modal .custom-modal{
    height: 450px;
    border-radius: 1px;
    width: 350px ;
    left: 50%; 
    top: 500px; 
    /* transform: none; */
}

#report-modal .custom-modal-header{
    /* justify-content: center;
    align-items: center; */
}

#report-modal .custom-modal-title{
    font-size: 18px;

}

#report-modal .custom-modal-content{
    display: flex;
    justify-content: center;
    height: 80px;
    margin-top: 10px;
}

/* 모달 가운데 border 제거 */
#report-modal .custom-modal-header{
    border-bottom: none;
}

#report-modal h3{
    padding-left: 5px;
    font-weight: 600;
}

#model-middle{
    width: 100%;
    padding-left: 5px;
}

#model-middle label{
    width: 30%;
    font-size: 18px;
}

#target-div{

    display: flex;
    margin-bottom: 10px;
}

#target1{
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding-left: 5px;
    margin-left: 5px;
    border-radius: 5px;
    width: 212px;
    height: 28px;
    background-color: #dfdfdf;
    font-weight: 600;
}

#target2{
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
}

#model-middle input{
    border: 1px solid black;
    font-size: 18px;
}

#report-textarea{
    width: 330px;
    height: 180px;
    border: 1px solid black;
    resize: none;
}

#model-middle h5{
    padding-bottom: 5px;
}

#report-submit-btn{
    background-color: #ffffff;
    color: #00A6fB;
    margin-left: 10px;
}


/************** 댓글 수정 **************/
#comment-middle-input{
    width: 100%;
    height: 100%;
}
