#h1-wrapper{
    height: 150px;
    width: 100%;
}

#paging-div a{
    padding-left: 3px;
}

#paging-div a:hover{
    text-decoration: none;
    color: black;
    /* font-size: 18px; */
}

h1{
    height: 150px;
    width: 100%;

    text-align:center;
    padding-top: 55px;

}

table{
    width: 100%;    
    margin-top: 10px;
    border-collapse: separate; /* border-spacing 적용을 위한 설정 */
}

th, td, tr{
    width: 12.5%;
    height: 40px;
    text-align: center;
}

table th:nth-child(1) { /* 1번째 th */
    width: 8%;
}

table td:nth-child(1) { /* 1번째 td */
    width: 8%;
}

table tr:nth-child(1) { /* 1번째 tr */
    width: 8%;
}

#main-table{
    border-top: 3px solid black;
    border-bottom: 3px solid rgb(212, 210, 210);
}

#common-table-body{
    background-color: #DBF1FD;
}

table th:nth-child(5) { /* 5번째 th */
    width: 6%;
}

table tr:nth-child(5) { /* 5번째 tr */
    width: 6%;
}

table td:nth-child(5) { /* 5번째 td */
    width: 6%;
}

.board-category{
    font-size: 16px;
}

.type-width8{
    padding-left: 6px;
}

.table-category{
    border: 1px solid black;
    border-radius: 9px;
    width: 90px;
    height: 32px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;

}

#write-btn{
    border: 1px solid black;
    border-radius: 9px;
    width: 90px;
    height: 32px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding-top: 2px;
    cursor: pointer;
}

#boCount-wirte-div{
    width: 100%;
    display: flex;
    justify-content:space-between;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

#search-category{
    border: 1px solid rgb(176, 174, 174);
    border-radius: 9px;
    width: 80px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

#boardsearch-bar{
    border: 1px solid rgb(196, 195, 195);
    border-radius: 9px 0px 0px 9px ;
    width: 400px;
    height: 30px;
    padding-left: 10px;
    margin-left: 10px;
    border-right: none;
    outline: none;
}

#searchbar-div{
    display: flex;
    justify-content: center;
}

#paging-div{
    margin-top: 50px;
    display: flex;
    justify-self: center;
}

.page-btn{
    border: none;
    background-color: white;
    font-weight: 600;
    cursor: pointer;
}

#paging-div .active{
    color:gainsboro;
}

.disabled{
    pointer-events: none; /* 이벤트 비활성화 */
}

#search-btn{
    border: 1px solid rgb(196, 195, 195);
    background-color: white;
    border-left: none;
    border-radius: 0px 9px 9px 0px;
    cursor: pointer;
}

/* defualt.css 수정 */
#common-table-body td {
    font-size: 16px;
}

#common-table-header th{
    font-size: 20px;
}

/*********************모달 css****************/

.modal{ 
    position: absolute;
}

#login-modal .custom-modal{
    height: 120px;
    width: 350px ;
    border-radius: 15px;
    left: 40%; 
    top: 40%; 
    transform: none;
}


#login-modal .custom-modal-header{
    justify-content: center;
}

#login-modal .custom-modal-title{
    font-size: 18px;
    text-align: center;
}

#login-modal .custom-modal-content{
    height: 80px;
    margin-top: 10px;
}

/* 모달 가운데 border 제거 */
#login-modal .custom-modal-header{
    border-bottom: none;
}

/* 모달 [예/아니오] 버튼  */
.modal-btn{
    width: 100px;
    height: 30px;
    border: 1px solid #00A6fB;
    border-radius: 15px;
    font-weight: 600;
}

#yes-btn{
    background-color: #00A6fB;
    color: #ffffff;
    
}

#no-btn{
    background-color: #ffffff;
    color: #00A6fB;
    margin-left: 10px;
}