.board-Write-hr{
    margin-top: 10px;
    margin-bottom: 30px;
}

#write-wrapper{
    margin:auto;
    width: 70%;
}

#search-category{
    border: 1px solid rgb(3, 3, 3);
    border-radius: 2px;
    width: 120px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    /* font-weight: 600; */
    display: block;
}

#search-category option{
    /* font-weight: 400; */
}

#board-title{
    border: 1px solid black;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    display: block;
}

#board-title:focus{
    border: 1px solid black;
}

#content{
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 2px;
    border-radius: 8px 8px 0px 0px;
    width: 100%;
    height: 300px;
    padding: 10px;
}

#att-files{
    margin-left: 50px;
    margin-top: 10px;
    
}
#can-file-types{
    font-weight: 600;
    color: rgb(145, 144, 144);
}

.add-file{
    display: block; 
    border: 1px solid rgb(212, 210, 210);
    border-radius: 3px;
    margin-bottom: 3px;
}

#att-add-btn{
    margin-left: 50px;
}

#submit-btn-wrapper{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#submit-btn{
    width: 100px;
    height: 30px;
    background-color: white;
    border: 1px solid #00a6fb;
    border-radius: 14px;
    font-size: 16px;
    font-weight: 600;
    color: #00a6fb;
    cursor: pointer;

}


