<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminMapper">

	<resultMap id="noticeResultSet" type="Notice">
		<result column="NOTICE_NO" property="noticeNo"/>
	  	<result column="MEMBER_NO" property="memberNo"/>
	  	<result column="NOTICE_TITLE" property="noticeTitle"/>
	  	<result column="NOTICE_CONTENT" property="noticeContent"/>
	  	<result column="ENROLL_DATE" property="noticeDate"/>
	  	<result column="VIEW_COUNT" property="viewCount"/>
	  	<result column="CATEGORY_NO" property="noticeType"/>
	  	<result column="NOTICE_STATUS" property="noticeStatus"/>
	  	<result column="NICKNAME" property="nickName"/>
	  	<result column="CATEGOTY_NAME" property="noticeTypeName"/>
	</resultMap>
	
	<select id="noticeCount" resultType="_int">
		SELECT COUNT(*)
		  FROM NOTICE
		 WHERE NOTICE_STATUS = 'Y'
	</select>
	
	<select id="selectNotice" resultMap="noticeResultSet">
		SELECT NOTICE_NO,
			   NOTICE_TITLE,
			   TO_CHAR(N.ENROLL_DATE, 'YYYY-MM-DD') AS ENROLL_DATE,
			   VIEW_COUNT,
			   NICKNAME,
			   CATEGOTY_NAME
		  FROM NOTICE N
		  JOIN MEMBER USING (MEMBER_NO)
		  JOIN NOTICE_CATEGORY USING (CATEGORY_NO)
		 WHERE NOTICE_STATUS = 'Y'
		 ORDER BY NOTICE_NO DESC
	</select>
</mapper>