<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminMapper">

	<resultMap id="noticeResultSet" type="Notice">
		<result column="NOTICE_NO" property="noticeNo"/>
	  	<result column="MEMBER_NO" property="memberNo"/>
	  	<result column="NOTICE_TITLE" property="noticeTitle"/>
	  	<result column="NOTICE_CONTENT" property="noticeContent"/>
	  	<result column="ENROLL_DATE" property="noticeDate"/>
	  	<result column="VIEW_COUNT" property="viewCount"/>
	  	<result column="CATEGORY_NO" property="noticeType"/>
	  	<result column="NOTICE_STATUS" property="noticeStatus"/>
	  	<result column="NICKNAME" property="nickName"/>
	  	<result column="CATEGOTY_NAME" property="noticeTypeName"/>
	</resultMap>
	
	<resultMap id="reportResultSet" type="Report">
		<result column="REPORT_NO" property="reportNo"/>
	  	<result column="TYPE_NO" property="typeNo"/>
	  	<result column="REPORT_DATE" property="reportDate"/>
	  	<result column="DETAIL_CONTENT" property="detailContent"/>
	  	<result column="MEMBER_NO" property="memberNo"/>
	  	<result column="REPORTED_MEMBER_NO" property="reportedMemberNo"/>
	  	<result column="REPLY_NO" property="replyNo"/>
	  	<result column="BOARD_NO" property="boardNo"/>
	  	<result column="REVIEW_NO" property="reviewNo"/>
	  	<result column="TYPE_CONTENT" property="typeContent"/>
	  	<result column="NICKNAME" property="nickname"/>
	  	<result column="REPLY_CONTENT" property="replyContent"/>
	  	<result column="BOARD_TITLE" property="boardTitle"/>
	  	<result column="REVIEW_CONTENT" property="reviewContent"/>
	  	<result column="REPORTED_NICKNAME" property="reportedNickname"/>
	</resultMap>
	
	<resultMap id="suspensionResultSet" type="SuspensionMember">
		<result column="MEMBER_NO" property="memberNo"/>
		<result column="SUSPENSION_DATE" property="suspensionDate"/>
		<result column="UNSUSPENSION_DATE" property="unSuspensionDate"/>
		<result column="SUSPENSION_COMMENT" property="suspensionComment"/>
		<result column="NICKNAME" property="nickname"/>
	</resultMap>
	
	<resultMap id="recoveryResultSet" type="AccRecovery">
		<result column="MEMBER_NO" property="memberNo"/>
		<result column="NICKNAME" property="nickname"/>
		<result column="APPLICATION_DATE" property="applicationDate"/>
	</resultMap>
	
	<!-- 공지 -->
	<select id="noticeCount" resultType="_int">
		SELECT COUNT(*)
		  FROM NOTICE
		 WHERE NOTICE_STATUS = 'Y'
	</select>
	
	<select id="selectNoticeList" resultMap="noticeResultSet">
		SELECT NOTICE_NO,
			   NOTICE_TITLE,
			   TO_CHAR(N.ENROLL_DATE, 'YYYY-MM-DD') AS ENROLL_DATE,
			   VIEW_COUNT,
			   NICKNAME,
			   CATEGOTY_NAME
		  FROM NOTICE N
		  JOIN MEMBER USING (MEMBER_NO)
		  JOIN NOTICE_CATEGORY USING (CATEGORY_NO)
		 WHERE NOTICE_STATUS = 'Y'
		 ORDER BY NOTICE_NO DESC
	</select>
	
	<insert id="insertNotice">
		INSERT INTO NOTICE (
								NOTICE_NO,
								MEMBER_NO,
								NOTICE_TITLE,
								NOTICE_CONTENT,
								ENROLL_DATE,
								CATEGORY_NO
						   )
					VALUES (
								SEQ_NNO.NEXTVAL,
								#{memberNo},
								#{noticeTitle},
								#{noticeContent},
								SYSDATE,
								#{noticeType}
						   )
	</insert>
	
	<delete id="deleteNotice">
		DELETE FROM NOTICE
		 WHERE NOTICE_NO = #{noticeNo}
	</delete>
	
	<select id="selectNotice" resultMap="noticeResultSet">
		SELECT NOTICE_NO,
			   NOTICE_TITLE,
			   NOTICE_CONTENT,
			   CATEGOTY_NAME
		  FROM NOTICE
		  JOIN NOTICE_CATEGORY USING (CATEGORY_NO)
		 WHERE NOTICE_NO = #{noticeNo}
	</select>
	
	<update id="updateNotice">
		UPDATE NOTICE
		   SET NOTICE_TITLE = #{noticeTitle},
		       NOTICE_CONTENT = #{noticeContent}
		 WHERE NOTICE_NO = #{noticeNo}
	</update>
	
	<!-- 신고 게시글 -->
	<select id="reportCount" resultType="_int">
		SELECT COUNT(*)
		  FROM REPORT
		 WHERE
		  <choose>
		  	<when test="category == 'board'">
		  		BOARD_NO 
		  	</when>
		  	<when test="category == 'reply'">
		  		REPLY_NO
		  	</when>
		  	<when test="category == 'user'">
		  		REPORTED_MEMBER_NO
		  	</when>
		  </choose>
		 IS NOT NULL
	</select>
	
	<select id="selectReportList" resultMap="reportResultSet">
		SELECT REPORT_NO,
			   TYPE_CONTENT,
			   REPORT_DATE,
			   DETAIL_CONTENT,
			   M.NICKNAME AS NICKNAME,
			   <choose>
			   	<when test="category == 'board'">
			   		BOARD_NO,
			   		BOARD_TITLE
			   	</when>
			   	<when test="category == 'reply'">
			   		REPLY_NO,
			   		REPLY_CONTENT
			   	</when>
			   	<when test="category == 'user'">
			   		REPORTED_MEMBER_NO,
			   		RM.NICKNAME AS REPORTED_NICKNAME
			   	</when>
			   </choose>
		  FROM REPORT R
		  JOIN REPORT_TYPE USING (TYPE_NO)
		  JOIN MEMBER M ON R.MEMBER_NO = M.MEMBER_NO
		  <choose>
		  	<when test="category == 'board'">
		  		JOIN COMMUNITY USING (BOARD_NO)
		  	</when>
		  	<when test="category == 'reply'">
		  		JOIN REPLY USING (REPLY_NO)
		  	</when>
		  	<when test="category == 'user'">
		  		JOIN MEMBER RM ON R.REPORTED_MEMBER_NO = RM.MEMBER_NO
		  	</when>
		  </choose>
		 ORDER BY REPORT_NO DESC
	</select>
		
	<delete id="deleteReportTarget">
		DELETE FROM 
		<choose>
		 	<when test="boardNo != 0">
				COMMUNITY
		 		WHERE 
		 		BOARD_NO = #{boardNo}
		 	</when>
		 	<when test="replyNo != 0">
		 		REPLY
		 		WHERE
		 		REPLY_NO= #{replyNo}
		 	</when>
		 </choose>
	</delete>
	
	<!-- 유저 정지 -->
	<insert id="insertsuspension">
		INSERT INTO ACCOUNT_SUSPENSION (
										MEMBER_NO,
										<if test="suspension != 0">
											UNSUSPENSION_DATE, 
										</if>
										SUSPENSION_COMMENT
									   )
								VALUES (
										#{memberNo},
										<if test="suspension != 0">
											SYSDATE + #{suspension},
										</if>
										#{suspensionComment}
									   ) 
	</insert>
	
	<update id="updateSuspension">
		UPDATE MEMBER
		   SET STATUS = 'N'
		 WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<delete id="deleteReport">
		DELETE FROM REPORT
		 WHERE REPORT_NO = #{reportNo}
	</delete>
	
	<!-- 계정 복구 -->
	<select id="recoveryCount" resultType="_int">
		SELECT COUNT(*)
		  FROM RECOVER_ACCOUNT
	</select>
	
	<select id="selectRecoveryList" resultMap="recoveryResultSet">
		SELECT MEMBER_NO,
		       NICKNAME,
		       TO_CHAR(APPLICATION_DATE, 'YYYY-MM-DD') AS APPLICATION_DATE
		  FROM RECOVER_ACCOUNT
		  JOIN MEMBER USING (MEMBER_NO)
	</select>
	
	<update id="recoveryAccount">
		UPDATE MEMBER
		   SET STATUS = 'Y'
		 WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<delete id="deleteRecovery">
		DELETE FROM RECOVER_ACCOUNT
		 WHERE MEMBER_NO = #{memberNo}
	</delete>
</mapper> 