<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminMapper">

	<resultMap id="noticeResultSet" type="Board">
		<result column="BOARD_NO" property="boardNo"/>
	  	<result column="BOARD_NAME" property="boardName"/>
	  	<result column="BOARD_DATE" property="boardDate"/>
	  	<result column="BOARD_CONTENT" property="content"/>
	  	<result column="BOARD_VIEW_COUNT" property="boardViewCount"/>
	  	<result column="BOARD_STATUS" property="boardStatus"/>
	  	<result column="COMMUNITY_NO" property="communityNo"/>
	  	<result column="MEMBER_NO" property="memberNo"/>
	  	<result column="NICKNAME" property="nickName"/>
	</resultMap>
	
	<resultMap id="commmunityResultSet" type="Community">
	  	<result column="BOARD_NO" property="boardNo"/>
	  	<result column="BOARD_NAME" property="boardName"/>
	  	<result column="BOARD_DATE" property="boardDate"/>
	  	<result column="BOARD_VIEW_COUNT" property="boardViewCount"/>
	  	<result column="COMMUNITY_NAME" property="communityName"/>
	  	<result column="MEMBER_NAME" property="userName"/>
  	</resultMap>
	
	<select id="noticeCount" resultType="_int">
		SELECT COUNT(*) 
		  FROM COMMUNITY
		 WHERE BOARD_STATUS = 'Y' AND
		 	   COMMUNITY_NO = 1
	</select>
	
	<select id="selectNotice" resultMap="commmunityResultSet">
		SELECT BOARD_NO,
			   BOARD_NAME,
			   TO_CHAR(BOARD_DATE, 'YYYY-MM-DD') AS BOARD_DATE,
			   BOARD_VIEW_COUNT,
			   COMMUNITY_NAME,
			   MEMBER_NAME
	   	  FROM COMMUNITY
       	  JOIN COMMUNITY_CATEGORY USING(COMMUNITY_NO)
       	  JOIN MEMBER USING(MEMBER_NO)
	  	 WHERE BOARD_STATUS = 'Y' 
	  	   AND COMMUNITY_NO = 1
   		 ORDER BY BOARD_NO DESC
	</select>
</mapper>