<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- namespace : 해당 mapper파일의 고유한 별칭 -->

<mapper namespace="cartMapper">
	<resultMap type="Cart" id="cartResultSet">
		<!-- <result column="테이블 컬럼명" property="객체의 필드명"/> -->
		<result column="BUCKEY_LIST" property="buckeyList"/>
		<result column="MEMBER_NO" property="memberNo" />
		<result column="PRODUCT_NO" property="productNo" />
		<result column="PRODUCT_QUANTITY" property="productQuantity" />
		
		<result column="PRODUCT_NAME" property="productName" />
		<result column="PRICE" property="price" />	
	</resultMap>
	<!-- 
		* SELECT문 전송 시
		<select id="각 sql문의 식별자" [parameterType="전달받을 자바타입"] resultMap="결과객체" | resultType="결과타입">
								    ↪없으면 생략해도 된다               ↪ mapper 에서  
	 -->
	 
	 <select id="selectCart" resultType="Cart">
	 	SELECT B.BUCKEY_LIST buckeyList,
	 		   B.MEMBER_NO memberNo,
	 		   PRODUCT_NO productNo,
	 		   B.PRODUCT_QUANTITY productQuantity,
	 		   P.PRODUCT_NAME productName,
	 		   P.PRICE price
	 	  FROM BUCKEY_LIST B
	 	  JOIN PRODUCT P
	 	 USING (PRODUCT_NO)
	 	 WHERE B.MEMBER_NO = #{memberNo}
	 </select>
	 
	 <update id="changeQuantity">
	 	UPDATE BUCKEY_LIST
	 	   SET PRODUCT_QUANTITY = #{productQuantity}
	 	 WHERE MEMBER_NO = #{memberNo}
	 	   AND PRODUCT_NO = #{productNo}
	 </update>
	 
	 
	 <delete id="deleteCart">
	 	DELETE 
	 	  FROM BUCKEY_LIST 	 	 
	 	 WHERE MEMBER_NO = #{memberNo} 
	 	   AND PRODUCT_NO = #{productNo}
	 </delete>
	 
	 <delete id="deleteCarts">
	 	DELETE
	 	  FROM BUCKEY_LIST
	 	 WHERE MEMBER_NO=#{memberNo}
	 	   AND PRODUCT_NO IN
	 	   <foreach item="productNo" collection="productNo" open="(" separator="," close=")">
	 	   	#{productNo}
	 	   </foreach>
	 </delete>
	 
	 <insert id="insertCart">
	 	INSERT 
	 	INTO BUCKEY_LIST(
	 		BUCKEY_LIST,
	 		MEMBER_NO,
	 		PRODUCT_NO,
	 		PRODUCT_QUANTITY
	 	)
	 	VALUES(
	 		SEQ_CNO.NEXTVAL,
	 		#{memberNo},
	 		#{productNo},
	 		#{productQuantity}
	 	)
	 
	 </insert>
</mapper>