<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="challengeMapper">
  	<resultMap id="challengeResultSet" type="Challenge">
  		<result column="CHE_RES_NO" property="challengeNo"/>
  		<result column="CHE_TITLE" property="challengeTitle"/>
  		<result column="START_DATE" property="startDate"/>
  		<result column="END_DATE" property="endDate"/>
  		<result column="THUMBNAIL" property="thumbnail"/>
  	</resultMap>
  	
  	<resultMap id="challengeBoardResultSet" type="ChallengeBoard">
  		<result column="CHELLANGE_NO" property="challengeBoardNo"/>
  		<result column="MEMBER_NO" property="memberNo"/>
  		<result column="CHE_RES_NO" property="challengeNo"/>
  		<result column="CHE_TITLE" property="chaTitle"/>
  		<result column="CHE_CONTENT" property="chaContent"/>
  		<result column="CHE_DATE" property="chaDate"/>
  		<result column="COMMENT_COUNT" property="commentCount"/>
  		<result column="NICKNAME" property="nickName"/>
  		<result column="RES_CHE_TITLE" property="challengeTitle"/>
  		<result column="ORIGIN_NAME" property="originName"/>
		<result column="CHANGE_NAME" property="changeName"/>
		<result column="FILE_PATH" property="file_path"/>
  	</resultMap>
  	
  	<resultMap id="noticeResultSet" type="Notice">
		<result column="NOTICE_NO" property="noticeNo"/>
	  	<result column="MEMBER_NO" property="memberNo"/>
	  	<result column="NOTICE_TITLE" property="noticeTitle"/>
	  	<result column="NOTICE_CONTENT" property="noticeContent"/>
	  	<result column="ENROLL_DATE" property="noticeDate"/>
	  	<result column="VIEW_COUNT" property="viewCount"/>
	  	<result column="CATEGORY_NO" property="noticeType"/>
	  	<result column="NOTICE_STATUS" property="noticeStatus"/>
	  	<result column="NICKNAME" property="nickName"/>
	  	<result column="CATEGOTY_NAME" property="noticeTypeName"/>
	</resultMap>
  	
  	
  	
  	  <!-- 게시글 총 갯수 조회 -->
  <select id="boardCount" resultType="_int">
  	SELECT COUNT(*)
   	  		FROM CHELLAGE_RES
  </select>
  
  <select id="selectList" resultType="Challenge">
		SELECT CHE_RES_NO AS challengeNo,
		       CHE_TITLE AS challengeTitle,
		       TO_CHAR(START_DATE, 'YYYY-MM-DD') AS startDate,
		       TO_CHAR(END_DATE, 'YYYY-MM-DD') AS endDate,
		       THUMBNAIL AS thumbnail
		FROM CHELLAGE_RES
		ORDER BY CHE_RES_NO DESC
   </select>
   
   <select id="selectName" resultMap="challengeResultSet">
   		SELECT CHE_TITLE
        FROM CHELLAGE_RES
        WHERE CHE_RES_NO = #{cno}
   </select>
   
   <!-- CHE_RES_NO로 CHELLANGE_NO조회 -->
   <select id="challengeSelect" resultMap="challengeBoardResultSet">
		SELECT cb.CHELLANGE_NO,
	        cb.MEMBER_NO,
	        cr.CHE_RES_NO,
            cr.CHE_TITLE RES_CHE_TITLE,
	        cb.CHE_TITLE,
	        cb.CHE_CONTENT,
	       TO_CHAR(cb.CHE_DATE,'YYYY-MM-DD') CHE_DATE,
	        cb.COMMENT_COUNT,
            m.NICKNAME,
            CHANGE_NAME
        FROM CHELLAGE_BOARD cb
        JOIN CHELLAGE_RES cr on cr.CHE_RES_NO = cb.CHE_RES_NO 
        JOIN MEMBER m on cb.MEMBER_NO = m.MEMBER_NO
        JOIN TOTAL_ATTACHMENT T on t.CHELLANGE_NO = cb.CHELLANGE_NO
        WHERE cr.CHE_RES_NO = #{cno}
   </select>
   
   <!-- 챌린지보드 갯수 -->
   <select id="challengeBoardCount" resultType="_int">
   		SELECT COUNT(*)
		FROM CHELLAGE_RES cr
		JOIN CHELLAGE_BOARD cb on cr.CHE_RES_NO = cb.CHE_RES_NO 
		WHERE cr.che_res_no = #{cno}
   </select>
   
<!-- 검색된 보드 총 갯수 -->
   <select id="selectSearchCount" resultType="_int">
         SELECT COUNT(*)
      FROM CHELLAGE_BOARD cb
      JOIN CHELLAGE_RES cr on cb.CHE_RES_NO = cr.CHE_RES_NO 
      JOIN MEMBER USING (MEMBER_NO)
      WHERE cr.CHE_RES_NO = #{cno}
      <if test="condition == 'writer'">
         AND NICKNAME
       </if>
       <if test="condition == 'title'">
       AND cb.CHE_TITLE
       </if>
       LIKE '%' || #{keyword} || '%'
   </select>

   
    <select id="selectSearchList" resultMap="challengeBoardResultSet">
      SELECT  cb.CHELLANGE_NO,
           cb.MEMBER_NO,
           cr.CHE_RES_NO,
            cr.CHE_TITLE RES_CHE_TITLE,
           cb.CHE_TITLE,
           cb.CHE_CONTENT,
          TO_CHAR(cb.CHE_DATE,'YYYY-MM-DD') CHE_DATE,
           cb.COMMENT_COUNT,
            m.NICKNAME
        FROM CHELLAGE_BOARD cb
        JOIN CHELLAGE_RES cr on cr.CHE_RES_NO = cb.CHE_RES_NO 
        JOIN MEMBER m on cb.MEMBER_NO = m.MEMBER_NO
        WHERE cr.CHE_RES_NO = #{cno}
        <if test="condition == 'writer'">
            AND m.NICKNAME
       </if>
       <if test="condition == 'title'">
          AND cb.CHE_TITLE
       </if>
       LIKE '%' || #{keyword} || '%'
   </select>
   
   <select id="selectBoard" resultMap="challengeBoardResultSet">
   SELECT CHELLANGE_NO,
			MEMBER_NO,
			CHE_RES_NO,
			CHE_TITLE,
			CHE_CONTENT,
			CHE_DATE,
			COMMENT_COUNT,
			NICKNAME
	FROM CHELLAGE_BOARD
	JOIN MEMBER USING (MEMBER_NO)
   WHERE CHELLANGE_NO = #{cbno}
   </select>
   
   <!-- 조회수 증가 -->
	<update id="increaseView">
	UPDATE CHELLAGE_BOARD
		SET COMMENT_COUNT = COMMENT_COUNT + 1
	WHERE CHELLANGE_NO = #{challengeBoardNo}
	
	</update>
   
   <!-- 공지 -->
   <select id="selectNoticeList" resultMap="noticeResultSet">
	SELECT *
	  FROM (
			 SELECT ROW_NUMBER() OVER(ORDER BY NOTICE_NO DESC) AS ROW_NUM,
	       	 		NOTICE_NO,
	       	 		NOTICE_TITLE,
	       			TO_CHAR(n.ENROLL_DATE, 'YYYY-MM-DD') AS ENROLL_DATE,
	       			VIEW_COUNT,
	       			NICKNAME
			   FROM NOTICE n
			   JOIN NOTICE_CATEGORY USING(CATEGORY_NO)
			   JOIN MEMBER m ON n.MEMBER_NO = m.MEMBER_NO
			  WHERE NOTICE_STATUS = 'Y'
	  		    AND CATEGORY_NO = 2)
	 WHERE ROW_NUM BETWEEN 1 AND 5
   </select>
   
   <!-- 게시글 추가 -->
   <insert id="insertBoard">
   INSERT INTO CHELLAGE_BOARD(
	  				CHELLANGE_NO,
					MEMBER_NO,
					CHE_RES_NO,
					CHE_TITLE,
                    CHE_DATE,
					CHE_CONTENT
  					)
  					VALUES(
  					SEQ_CBNO.NEXTVAL,
  					#{memberNo},
  					#{challengeNo},
  					#{chaTitle},
  					SYSDATE,
  					#{chaContent}
  					)
   </insert>
   
   <!-- 게시글(파일) 추가 -->
   <insert id="insertBoardFile">
   INSERT INTO TOTAL_ATTACHMENT(
  					FILE_NO,
	  				ORIGIN_NAME,
	  				CHANGE_NAME,
	  				FILE_PATH,
	  				CHELLANGE_NO
  					)
  					VALUES(
  					SEQ_FILE_NO.nextval,
  					#{originName},
  					#{changeName},
  					#{file_path},
  					SEQ_CBNO.CURRVAL
  					)
   
   </insert>
   
   <!-- 게시글 수정 -->
   <update id="updateBoard">
		UPDATE CHELLAGE_BOARD
  	 	   SET CHE_TITLE = #{chaTitle},
			   CHE_CONTENT = #{chaContent}
	  	 WHERE CHELLANGE_NO = #{challengeBoardNo}
	</update>
	
	<update id="updateBoardFile">
			 UPDATE TOTAL_ATTACHMENT
			    SET ORIGIN_NAME = #{originName},
 					CHANGE_NAME = #{changeName},
 					FILE_PATH = #{file_path}
			  WHERE CHELLANGE_NO = #{challengeBoardNo}
	</update>
	
	<delete id="deleteboard">
	DELETE FROM CHELLAGE_BOARD
	WHERE CHELLANGE_NO = #{cbno}
	</delete>
	
	<select id="selectCno" resultMap="challengeBoardResultSet">
	SELECT CHELLANGE_NO,
	    MEMBER_NO,
	    CHE_RES_NO,
	    CHE_TITLE,
	    CHE_CONTENT,
	    CHE_DATE,
	    COMMENT_COUNT
	FROM CHELLAGE_BOARD
	WHERE CHELLANGE_NO = #{cbno}
	</select>
 

 	<insert id="insertChallenge">
 		INSERT INTO CHELLAGE_RES (
 									CHE_RES_NO,
									CHE_TITLE,
									START_DATE,
									END_DATE,
									THUMBNAIL
 								 )
 						  VALUES (
 						  			SEQ_CNO.NEXTVAL,
 						  			#{challengeTitle},
 						  			#{startDate},
 						  			#{endDate},
 						  			#{thumbnail}
 						  		 )
 	</insert>
 	
 	

  </mapper>