<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="challengeMapper">
  	<resultMap id="challengeResultSet" type="Challenge">
  		<result column="CHE_RES_NO" property="challengeNo"/>
  		<result column="CHE_TITLE" property="challengeTitle"/>
  		<result column="START_DATE" property="startDate"/>
  		<result column="END_DATE" property="endDate"/>
  		<result column="THUMBNAIL" property="thumbnail"/>
  	</resultMap>
  	
  	<resultMap id="challengeBoardResultSet" type="ChallengeBoard">
  		<result column="CHELLANGE_NO" property="challengeBoardNo"/>
  		<result column="MEMBER_NO" property="memberNo"/>
  		<result column="CHE_RES_NO" property="challengeNo"/>
  		<result column="CHE_TITLE" property="chaTitle"/>
  		<result column="CHE_CONTENT" property="chaContent"/>
  		<result column="CHE_DATE" property="chaDate"/>
  		<result column="COMMENT_COUNT" property="commentCount"/>
  		<result column="NICKNAME" property="nickName"/>
  		<result column="RES_CHE_TITLE" property="challengeTitle"/>
  	</resultMap>
  	
  	
  	
  	  <!-- 게시글 총 갯수 조회 -->
  <select id="boardCount" resultType="_int">
  	SELECT COUNT(*)
   	  		FROM CHELLAGE_RES
  </select>
  
  <select id="selectList" resultType="Challenge">
		SELECT CHE_RES_NO AS challengeNo,
		       CHE_TITLE AS challengeTitle,
		       TO_CHAR(START_DATE, 'YYYY-MM-DD') AS startDate,
		       TO_CHAR(END_DATE, 'YYYY-MM-DD') AS endDate,
		       THUMBNAIL AS thumbnail
		FROM CHELLAGE_RES
		ORDER BY ABS(TRUNC(END_DATE) - TRUNC(SYSDATE)) ASC
   </select>
   
   <select id="selectName" resultMap="challengeResultSet">
   		SELECT CHE_TITLE
        FROM CHELLAGE_RES
        WHERE CHE_RES_NO = #{cno}
   </select>
   
   <!-- CHE_RES_NO로 CHELLANGE_NO조회 -->
   <select id="challengeSelect" resultMap="challengeBoardResultSet">
		SELECT cb.CHELLANGE_NO,
	        cb.MEMBER_NO,
	        cr.CHE_RES_NO,
            cr.CHE_TITLE RES_CHE_TITLE,
	        cb.CHE_TITLE,
	        cb.CHE_CONTENT,
	       TO_CHAR(cb.CHE_DATE,'YYYY-MM-DD') CHE_DATE,
	        cb.COMMENT_COUNT,
            m.NICKNAME
        FROM CHELLAGE_BOARD cb
        JOIN CHELLAGE_RES cr on cr.CHE_RES_NO = cb.CHE_RES_NO 
        JOIN MEMBER m on cb.MEMBER_NO = m.MEMBER_NO
        WHERE cr.CHE_RES_NO = #{cno}
   </select>
   
   <!-- 챌린지보드 갯수 -->
   <select id="challengeBoardCount" resultType="_int">
   		SELECT COUNT(*)
		FROM CHELLAGE_RES cr
		JOIN CHELLAGE_BOARD cb on cr.CHE_RES_NO = cb.CHE_RES_NO 
		WHERE cr.che_res_no = #{cno}
   </select>
   
 
  </mapper>