<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="chatMapper">
  
  <resultMap type="Chat" id="chatResultSet">
  	<result column="CHAT_ID" property="chatId"/>
  	<result column="SENDER_NO" property="senderNo"/>
  	<result column="RECEIVER_NO" property="receiverNo"/>
  </resultMap>
  
  <resultMap type="ChatRoom" id="chatRoomResultSet">
  	<result column="CHAT_ID" property="chatId"/>
  	<result column="SENDER_NO" property="senderNo"/>
  	<result column="RECEIVER_NO" property="receiverNo"/>
  	<result column="NICKNAME" property="nickName"/>
  	<result column="PROFILE_IMG" property="profileImg"/>
  </resultMap>
  
  <resultMap type="Message" id="MessageResultSet">
  	<result column="MESSAGE_ID" property="messageId"/>
  	<result column="SENDER_NO" property="senderNo"/>
  	<result column="RECEIVER_NO" property="receiverNo"/>
  	<result column="MESSAGE_CONTENT" property="messageContent"/>
  	<result column="SEND_TIME" property="sendTime"/>
  </resultMap>
  
  <resultMap type="MessageLog" id="MessageLogResultSet">
  	<result column="MESSAGE_ID" property="messageId"/>
  	<result column="MESSAGE_CONTENT" property="messageContent"/>
  	<result column="SENDER_NO" property="senderNo"/>
  	<result column="RECEIVER_NO" property="receiverNo"/>
  	<result column="NICKNAME" property="nickName"/>
  	<result column="PROFILE_IMG" property="profileImg"/>
  	<result column="SEND_TIME" property="sendTime"/>
  </resultMap>

  <!-- 채팅방 조회 -->
  <select id="chatList" resultMap="MessageLogResultSet">
  	SELECT MESSAGE_ID,
  		   MESSAGE_CONTENT,
  		   SENDER_NO,
  		   RECEIVER_NO,
  		   NICKNAME,
  		   PROFILE_IMG,
  		   SEND_TIME
  	  FROM MESSAGE
  	  JOIN MEMBER ON (MEMBER_NO = RECEIVER_NO)
  	 WHERE SENDER_NO = #{senderNo}
  </select>
  
  <!-- 채팅 삭제 -->
  <delete id="deleteChat">
  	DELETE FROM Message
  	 WHERE SENDER_NO = #{senderNo}
  	   AND RECEIVER_NO = #{receiverNo}
  </delete>
  
  <!-- 채팅 로그 조회 -->
  <select id="selectChatLog" resultMap="MessageLogResultSet">
  	SELECT MESSAGE_ID,
  		   MESSAGE_CONTENT,
  		   SENDER_NO,
  		   RECEIVER_NO,
  		   NICKNAME,
  		   PROFILE_IMG,
  		   SEND_TIME
  	  FROM MESSAGE
  	  JOIN MEMBER ON (SENDER_NO = MEMBER_NO)
  	 WHERE (SENDER_NO = #{senderNo} OR RECEIVER_NO = #{receiverNo})
  	   AND (SENDER_NO = #{receiverNo} OR RECEIVER_NO = #{senderNo})
  </select>
  
  <!-- 입력한 채팅 저장 -->
  <insert id="inputChat">
  	INSERT INTO MESSAGE(
  		MESSAGE_ID,
  		SENDER_NO,
  		RECEIVER_NO,
  		MESSAGE_CONTENT
  	) VALUES (
  		SEQ_MID_NO.NEXTVAL,
  		#{senderNo},
  		#{receiverNo},
  		#{messageContent}
  	)
  </insert>
</mapper>