<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberMapper">
  
  <resultMap type="Member" id="memberResultSet">
  	<result column="MEMBER_NO" property="memberNo"/>
  	<result column="MEMBER_ID" property="memberId"/>
  	<result column="MEMBER_PWD" property="memberPwd"/>
  	<result column="MEMBER_NAME" property="memberName"/>
  	<result column="NICKNAME" property="nickName"/>
  	<result column="PHONE" property="phone"/>
  	<result column="EMAIL" property="email"/>
  	<result column="ADDRESS" property="address"/>
  	<result column="DETAIL_ADDRESS" property="detailAddress"/>
  	<result column="POST_NO" property="postNo"/>
  	<result column="POINT" property="point"/>
  	<result column="ENROLL_DATE" property="enrollDate"/>
  	<result column="STATUS" property="status"/>
  	<result column="PROFILE_IMG" property="profileImg"/>
  	<result column="ISADMIN" property="isAdmin"/>
  	<result column="IS_SOCIAL" property="isSocial"/>
  </resultMap>
  
  <!-- 회원가입 -->
  <insert id="insertMember">
  	INSERT INTO MEMBER(
  		MEMBER_NO,
  		MEMBER_ID,
  		MEMBER_PWD,
  		MEMBER_NAME,
  		NICKNAME,
  		PHONE,
  		EMAIL,
  		ADDRESS,
  		DETAIL_ADDRESS,
  		POST_NO
  	) VALUES (
  		SEQ_MNO.NEXTVAL, <!-- DB 시퀀스 생성해야함 -->
  		#{memberId},
  		#{memberPwd},
  		#{memberName},
  		#{nickName},
  		#{phone},
  		#{email},
  		#{address},
  		#{detailAddress},
  		#{postNo}
  	)
  </insert>
  
  <!-- 로그인 -->
  <select id="loginMember" parameterType="Member" resultMap="memberResultSet">
  	SELECT MEMBER_NO,
  		   MEMBER_ID,
  		   MEMBER_PWD,
  		   MEMBER_NAME,
  		   NICKNAME,
  		   PHONE,
  		   EMAIL,
  		   ADDRESS,
  		   DETAIL_ADDRESS,
  		   POST_NO,
	  	   POINT,
	  	   ENROLL_DATE,
  		   STATUS,
  		   PROFILE_IMG,
  		   ISADMIN,
  		   IS_SOCIAL
  	  FROM MEMBER
  	 WHERE MEMBER_ID = #{memberId}
  	   AND STATUS = 'Y'
  </select>
  
  <!-- 아이디 중복 체크 -->
  <select id="idCheck" resultType="_int">
  	SELECT COUNT(*)
  	  FROM MEMBER
  	 WHERE MEMBER_ID = #{checkId}
  </select>
  
  <!-- 닉네임 중복 체크 -->
  <select id="nickCheck" resultType="_int">
  	SELECT COUNT(*)
  	  FROM MEMBER
  	 WHERE NICKNAME = #{checkNick}
  </select>
  
  <update id="updateMember">
  	UPDATE MEMBER
  	   SET NICKNAME = #{nickName},
  	   	   PHONE = #{phone},
  	   	   EMAIL = #{email},
  	       ADDRESS = #{address},
  	       DETAIL_ADDRESS = #{detailAddress},
  	       POST_NO = #{postNo}
  	 WHERE MEMBER_NO = #{memberNo}
  </update>
  
  <update id="updatePwd">
  	UPDATE MEMBER
  	   SET MEMBER_PWD = #{memberPwd}
  	 WHERE MEMBER_ID = #{memberId}
  </update>

  <update id="deleteMember">
  	UPDATE MEMBER
  	   SET STATUS = 'N'
  	 WHERE MEMBER_ID = #{memberId}
  </update>
  
  <!-- 회원 아이디 찾기 -->
  <select id="searchId" resultType="string">
  	SELECT MEMBER_ID
  	  FROM MEMBER
  	 WHERE EMAIL = #{email}
  </select>
  
  <!-- 회원 비밀번호 찾기 -->
  <select id="searchPwd" resultType="_int">
  	SELECT COUNT(*)
  	  FROM MEMBER
  	 WHERE MEMBER_ID = #{memberId}
  	   AND PHONE = #{phone}
  </select>
  
  <!-- 회원 비밀번호 수정(로그인 x) -->
  <update id="changePwd">
  	UPDATE MEMBER
  	   SET MEMBER_PWD = #{memberPwd}
  	 WHERE MEMBER_ID = #{memberId}
  </update>
  
  <update id="imgChangeAjax">
    UPDATE MEMBER
  	   SET PROFILE_IMG = #{profileImg}
  	 WHERE MEMBER_NO = #{memberNo}
  </update>
  
  <!-- 회원 유무 판단 -->
  <select id="searchMember" resultType="_int">
  	SELECT COUNT(*)
  	  FROM MEMBER
  	 WHERE EMAIL = #{email}
  	   AND STATUS = 'Y'
  </select>
  
  <!-- 소셜 로그인 -->
  <select id="socialLoginMember" resultMap="memberResultSet">
    SELECT MEMBER_NO,
  		   MEMBER_ID,
  		   MEMBER_PWD,
  		   MEMBER_NAME,
  		   NICKNAME,
  		   PHONE,
  		   EMAIL,
  		   ADDRESS,
  		   DETAIL_ADDRESS,
  		   POST_NO,
	  	   POINT,
	  	   ENROLL_DATE,
  		   STATUS,
  		   PROFILE_IMG,
  		   ISADMIN,
  		   IS_SOCIAL
  	  FROM MEMBER
  	 WHERE EMAIL = #{email}
  	   AND STATUS = 'Y'
  </select>
  
  <!-- 소셜 회원가입 -->
  <insert id="insertSocialMember">
  	INSERT INTO MEMBER(
  		MEMBER_NO,
  		MEMBER_NAME,
  		NICKNAME,
  		PHONE,
  		EMAIL,
  		POST_NO,
  		PROFILE_IMG,
  		IS_SOCIAL
  	) VALUES (
  		SEQ_MNO.NEXTVAL, <!-- DB 시퀀스 생성해야함 -->
  		#{memberName},
  		#{nickName},
  		#{phone},
  		#{email},
  		#{postNo},
  		#{profileImg},
  		'Y'
  	)
  </insert>
  
  <select id="searchNickName" resultMap="memberResultSet">
  	SELECT MEMBER_NO,
  		   NICKNAME,
  		   PROFILE_IMG
  	  FROM MEMBER
  	 WHERE NICKNAME LIKE '%' || #{nickName} || '%'
  	   AND STATUS = 'Y'
  </select>
  
  <!-- 발신자 정보 -->
  <select id="senderInfo" resultMap="memberResultSet">
	SELECT DISTINCT
           NICKNAME,
  		   PROFILE_IMG
  	  FROM MEMBER
  	  JOIN MESSAGE ON (MEMBER_NO = SENDER_NO)
  	 WHERE MEMBER_NO =  #{senderNo}
  </select>
</mapper>