<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- namespace : 해당 mapper파일의 고유한 별칭 -->

<mapper namespace="phaseMapper">
	<resultMap type="Phase" id="phaseResultSet">
		<!-- <result column="테이블 컬럼명" property="객체의 필드명"/> -->
		<result column="PURCHASE_NO" property="purchaseNo" />
		<result column="MEMBER_NO" property="memberNo" />
		<result column="PRODUCT_NO" property="productNo" />
		<result column="TOTAL_PURCHASE" property="totalPurchase" />
		<result column="QUANTITY" property="quantity" />
		<result column="REFUND" property="refund" />
		<result column="PURCHASE_DATE" property="purchaseDate" />
		<result column="REQUEST" property="request" />
		<result column="PAYMENT_METHOD" property="paymentMethod" />
		<result column="PAYMENT_STATUS" property="paymentStatus" />
		<result column="BANK_CODE" property="bankCode"/>
		<result column="BANK_NAME" property="bankName"/>
		<!-- member mapping -->
		<result column="MEMBER_NAME" property="memberName" />
		<result column="EMAIL" property="email" />
		<result column="ADDRESS" property="address" /> 
		<result column="PHONE" property="phone" /> 
		<!-- product mapping -->
		<result column="PRODUCT_NAME" property="productName" />
		<result column="PRICE" property="price" />
	</resultMap>
	
	<!-- review mapping -->
	<resultMap type="Review" id="reviewResultSet">
		<result column="REVIEW_NO" property="reviewNo" />
		<result column="PRODUCT_NO" property="productNo" />
		<result column="MEMBER_NO" property="memberNo" />
		<result column="REVIEW_CONTENT" property="reviewContent" />
		<result column="REVIEW_RATE" property="reviewRate" />
		<result column="REVIEW_DATE" property="reviewDate" />	
	</resultMap>
	 
	<select id="selectList" parameterType="Phase" resultMap="phaseResultSet">
		SELECT MEMBR_NAME memberName,
			   EMAIL email,
			   ADDRESS address,
			   PHONE phone,
			   PRODUCT_NAME productName,			   
			   SYSDATE
		  FROM PURCHASE
		  JOIN MEMBER USING (MEMBER_NO)
		  JOIN PRODUCT USING (PRODUCT_NO)
		 WHERE MEMBER_ID = #{memberNo}
		   AND PRODUCT_ID = #{productNo}
	</select>
	
	<!-- 구매리스트 조회 -->
	<select id="selectCount" resultType="_int">
		SELECT COUNT(*)
		  FROM PURCHASE
		 WHERE MEMBER_NO = #{memberNo} 
	</select>
	
	<select id="phaseList" resultType="Phase">
		SELECT p.PURCHASE_NO purchaseNo,
       		   p.MEMBER_NO memberNo,
       		   PRODUCT_NO productNo,
       		   PRODUCT.PRODUCT_NAME productName,
       		   p.TOTAL_PURCHASE totalPurchase,
       		   p.QUANTITY quantity,
       		   p.PURCHASE_DATE purchaseDate,
       	   	   p.BANK_NAME bankName
  		  FROM PURCHASE p
 	 	  JOIN PRODUCT USING(PRODUCT_NO)
		 WHERE P.MEMBER_NO = #{memberNo}
	</select>
	
	<!-- 리뷰 조회 -->
	<select id="selectReview" parameterType="Review">	
		SELECT REVIEW_NO,
			   PRODUCT_NO,
			   MEMBER_NO,
			   REVIEW_CONTENT,
			   REVIEW_RATE,
			   REVIEW_DATE
		  FROM REVIEW
		 WHERE MEMBER_NO = #{memberNo};
	</select>
	
	<!-- 리뷰 추가 -->
	 <insert id="addReview" parameterType="Review">
	 	INSERT INTO REVIEW
	 		(
	 		REVIEW_NO reviewNo,
	 		PRODUCT_NO productNo,
	 		MEMBER_NO memberNo,
	 		REVIEW_CONTENT reviewContent,
	 		REVIEW_RATE reviewRate,
	 		REVIEW_DATE reviewDate
	 		)
	 		VALUES
	 		(
	 		#{reviewNo}
	 		#{productNo},
	 		#{memberNo},
	 		#{reviewContent},
	 		#{reviewRate},
	 		SYSDATE
	 		)
	 </insert>
	 
	 <!-- 리뷰 수정 -->
	 <update id="updateReview" parameterType="Review">
	 	UPDATE 
	 </update>
<!-- 	 
	 <select id="">
	 	SELECT REVIEW_DATE reviewDate
	 	FROM REVIEW
	 	WHERE = #{}
	 </select>
	  -->
</mapper>