<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- namespace : 해당 mapper파일의 고유한 별칭 -->

<mapper namespace="phaseMapper">
	<resultMap type="Phase" id="PhaseResultSet">
		<!-- <result column="테이블 컬럼명" property="객체의 필드명"/> -->
		<result column="PURCHASE_NO" property="purchaseNo" />
		<result column="MEMBER_NO" property="memberNo" />
		<result column="PRODUCT_NO" property="productNo" />
		<result column="TOTAL_PURCHASE" property="totalPurchase" />
		<result column="REFUND" property="refund" />
		<result column="PURCHASE_DATE" property="purchaseDate" />
		<result column="REQUEST" property="request" />
		<result column="PAYMENT_METHOD" property="paymentMethod" />
		<result column="PAYMENT_STATUS" property="paymentStatus" />
		<result column="BANK_CODE" property="backCode"/>
		<result column="BANK_NAME" property="backName"/>
	</resultMap>
	
	<select id="selectList" resultType="">
		SELECT MEMBER_NAME,
			   ADDRESS,
			   PRODUCT_NAME,
			   TOTAL_PURCHASE
		  FROM PURCHASE
		  JOIN MEMBER ON MEMBER_NO
		  JOIN PRODUCT ON PRODUCT_NO
		 WHERE MEMBER_ID = #{memberNO}
		   AND PRODUCT_ID = #{productId}
	</select>
</mapper>