<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- namespace : 해당 mapper파일의 고유한 별칭 -->

<mapper namespace="productMapper">
	<resultMap type="Product" id="productResultSet">
		<!-- <result column="테이블 컬럼명" property="객체의 필드명"/> -->
		<result column="PRODUCT_NO" property="productNo" />
		<result column="MEMBER_NO" property="memberNo" />
		<result column="PRODUCT_NAME" property="productName" />
		<result column="CONTENT" property="content" />
		<result column="QUANTITY" property="quantity" />
		<result column="PRICE" property="price" />
		<result column="CATEGORY" property="category" />
		<result column="REGISTRATION_DATE" property="registrationDate" />
		<result column="TYPE" property="type" />
		
	</resultMap>
	<!-- 
		* SELECT문 전송 시
		<select id="각 sql문의 식별자" [parameterType="전달받을 자바타입"] resultMap="결과객체" | resultType="결과타입">
								    ↪없으면 생략해도 된다               ↪ mapper 에서  
	 -->
	 
	 <!-- 상품 목록 모두 가져오기 -->
	 <select id="selectListTotal" resultType="_int">
	 	SELECT COUNT(*)
	 	  FROM PRODUCT
	 	 WHERE TYPE = '1'
	 </select>
	  
	<!-- 상품 목록 (전체) 조회 -->
	
	<select id="selectList" resultType="Product">
		SELECT p.PRODUCT_NO,
			   p.PRODUCT_NAME productName,
			   p.CONTENT content,
			   p.QUANTITY quantity,
			   p.PRICE price,
			   r.rate
		  FROM PRODUCT p
		  JOIN (
		  	SELECT AVG(REVIEW_RATE) rate, PRODUCT_NO
		  		FROM REVIEW
		  		GROUP BY PRODUCT_NO
		  ) r ON p.PRODUCT_NO = r.PRODUCT_NO
		 ORDER BY p.PRODUCT_NO DESC
	</select>
	
	<!-- 상품 왼쪽 사이드바 -->

	<select id="choseNav" resultType="Product">
		SELECT p.PRODUCT_NO,
			   p.PRODUCT_NAME productName,
			   p.CONTENT content,
			   p.QUANTITY quantity,
			   p.PRICE price,
			   r.rate
		  FROM PRODUCT p 
		  JOIN (
		  	SELECT AVG(REVIEW_RATE) rate, PRODUCT_NO
		  		FROM REVIEW
		  		GROUP BY PRODUCT_NO
		  ) r ON p.PRODUCT_NO = r.PRODUCT_NO
		 WHERE CATEGORY = #{selectedValue}
		 ORDER BY p.PRODUCT_NO DESC
	</select>
	
	<select id="Rbtn" resultType="Product">
		SELECT p.PRODUCT_NO,
			   p.PRODUCT_NAME productName,
			   p.CONTENT content,
			   p.QUANTITY quantity,
			   p.PRICE price,
			   p.TYPE type,
			   r.rate
		  FROM PRODUCT p 
		  JOIN (
		  	SELECT AVG(REVIEW_RATE) rate, PRODUCT_NO
		  		FROM REVIEW
		  		GROUP BY PRODUCT_NO
		  ) r ON p.PRODUCT_NO = r.PRODUCT_NO
		 WHERE CATEGORY = #{selectedValue}
		 WHERE TYPE = #{rbtn}
		 ORDER BY p.PRODUCT_NO DESC
	</select>
		
 
 
   
 </mapper>