<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
 <configuration>

 	<settings>
 		<setting name="jdbcTypeForNull" value="NULL"/>
 	</settings>
 	
 
 	<typeAliases>
 		<typeAlias type="com.kh.hkid.exercise.model.vo.Exercise" alias="Exercise"/>
 		<typeAlias type="com.kh.hkid.product.model.vo.Product" alias="Product"/>
 		<typeAlias type="com.kh.hkid.product.model.vo.Review" alias="Review"/>
 		<typeAlias type="com.kh.hkid.member.model.vo.Member" alias="Member"/>
 		<typeAlias type="com.kh.hkid.diary.model.vo.Diary" alias="Diary"/>
 		<typeAlias type="com.kh.hkid.community.model.vo.Board" alias="Board"/>
 		<typeAlias type="com.kh.hkid.community.model.dto.Community" alias="Community"/>
 		<typeAlias type="com.kh.hkid.cart.model.vo.Cart" alias="Cart"/>
		<typeAlias type="com.kh.hkid.favorite.model.vo.Favorite" alias="Favorite"/>
		<typeAlias type="com.kh.hkid.diet.model.vo.Diet" alias="Diet"/>
		<typeAlias type="com.kh.hkid.diet.model.vo.Phase" alias="Phase"/>
 	</typeAliases>
 	

 	<mappers>
 		<mapper resource="mappers/exercise-mapper.xml"/>
 		<mapper resource="mappers/product-mapper.xml"/>
 		<mapper resource="mappers/member-mapper.xml"/>
 		<mapper resource="mappers/diary-mapper.xml"/>
 		<mapper resource="mappers/board-mapper.xml"/>
 		<mapper resource="mappers/cart-mapper.xml"/>
 		<mapper resource="mappers/favorite-mapper.xml"/>
 		<mapper resource="mappers/diet-mapper.xml"/>
 		<mapper resource="mappers/phase-mapper.xml"/>
 	</mappers>

 	
 </configuration>