<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
 <configuration>

 	<settings>
 		<setting name="jdbcTypeForNull" value="NULL"/>
 	</settings>
 	
 
 	<typeAliases>
 		<typeAlias type="com.kh.hkid.exercise.model.vo.Exercise" alias="Exercise"/>
 		<typeAlias type="com.kh.hkid.member.model.vo.Member" alias="Member"/>
 		<typeAlias type="com.kh.hkid.community.model.vo.Board" alias="Board"/>
 		<typeAlias type="com.kh.hkid.community.model.dto.Community" alias="Community"/>
 	</typeAliases>
 	

 	<mappers>
 		<mapper resource="mappers/exercise-mapper.xml"/>
 		<mapper resource="mappers/member-mapper.xml"/>
 		<mapper resource="mappers/board-mapper.xml"/>
 	</mappers>

 	
 </configuration>