#search-food-modal {
    position: absolute;
}

#search-food-modal .custom-modal {
    transform: translate(13%, -28%);
    width: 470px;
    height: 625px;
    border-radius: 10px;
}

#search-food-modal .custom-modal-header{
    display: block;
    justify-content: center;
    align-items: center;
    border-bottom: none;
    padding-top: 10px;
    height: 120px;
}

#search-food-modal .custom-modal-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

#search-food-modal .custom-modal-title > div {
    width: 36px;
}

#search-food-modal .custom-modal-title > h4 {
    margin: 0px;
    font-weight: bold;
    padding-top: 10px;
}

#search-food-modal .custom-modal-title > button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-food-modal #searchbar-div {
    height: 32px;
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
}

#search-food-modal #board-search-bar {
    border: 1px solid rgb(196, 195, 195);
    border-radius: 9px 0px 0px 9px ;
    width: 230px;
    height: 100%;
    padding-left: 10px;
    margin-left: 10px;
    border-right: none;
}

#search-food-modal #board-search-bar:focus {
    outline: none;
}

#search-food-modal #search-btn {
    border: 1px solid rgb(196, 195, 195);
    background-color: white;
    border-left: none;
    border-radius: 0px 9px 9px 0px;
    cursor: pointer;
    padding-bottom: 4px;
}

#search-food-modal #searchIcon {
    width: 20px;
}

#search-food-modal .type-width35 {
    width: 35%;
}

#search-food-modal .type-width27 {
    width: 27%;
}

#search-food-modal .type-width5 {
    width: 5%;
}

#search-food-modal #food-add-btn > button {
    width: 25px;
    height: 25px;
    border-radius: 10px;
    background-color: rgba(219, 241, 253, 1);
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    padding-bottom: 4px;
}

#common-table th{
    font-size: 20px;
}

#common-table td {
    font-size: 16px;
}

#common-table tbody tr {
    height: 35px;
}