/* 채팅박스 기본 css */
#chat-area {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 10000;
}

#chat-area > button {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
}

#chat-area > button > img {
    width: 50px;
    height: 50px;
    filter: drop-shadow(5px 5px 5px #000);
}

.chat-box {
    width: 450px;
    height: 550px;
    border: 1px solid rgba(0, 166, 251, 1);
    background-color: rgba(219, 241, 253, 1);
    border-radius: 5px;
    position: absolute;
    right: 55px;
    bottom: 0px;
    box-shadow: 2px 2px 2px 2px gray;
}

/* 채팅 박스 헤더 css */
.chat-box-header {
    height: 45px;
    display: flex;
    justify-content: end;
    padding-right: 10px;
    border-bottom: 1px solid rgba(0, 166, 251, 0.5);
}

.chat-box-header > button {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
    border: none;
    background: rgba(219, 241, 253, 1);
}

/* 채팅 박스 컨텐츠 css */
.chat-box-content {
    display: flex;
    height: calc(100% - 45px);
}

/* 좌측 컨텐츠 */
.chat-box-left {
    width: 110px;
    border-right: 1px solid rgba(0, 166, 251, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.chat-box-left > div {
    margin-top: 8px;
}

.chat-box-left > div > button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    background-color: white;
    font-size: 14px;
    font-weight: bold;
    width: 94px;
    height: 35px;
    padding: 0px;
}

.chat-box-left > div > button:hover {
    border: 2px solid rgba(0, 166, 251, 0.5);
}

#chat-bot button {
    background-color: rgba(132, 213, 255, 1);
}

#chat-trade > button > img {
    width: 20px;
}

#chat-trade-user{
    overflow-y: auto;
}

#chat-trade-user::-webkit-scrollbar {
    display: none;
}

#chat-trade-user > div{
    display: flex;
    align-items: center;
    height: 27px;
    margin-bottom: 8px;
}

#chat-trade-user img {
    width: 27px;
    height: 27px;
    cursor: pointer;
}

#chat-trade-user button {
    border: none;
    border-radius: 5px;
    background-color: white;
    width: 64px;
    height: 27px;
    margin-left: 3px;
    font-size: 12px;
    padding: 0px;
}

.trade-user-nick {
    /* display: none; */
}

/* 우측 컨텐츠 */
/* 채팅 컨첸츠 */
.chat-box-right {
    width: 338px;
}

#chat-content {
    /* display: none; */
}

/* 채팅 로그 */
#chat-log-area{
    height: 380px;
    border-bottom: 1px solid rgba(0, 166, 251, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#chat-log-area > div {
    width: 320px;
    height: 362px;
    background-color: white;
    border-radius: 5px;
    padding: 10px 10px 0px;
    overflow-y: auto;
}

#chat-log-area > div::-webkit-scrollbar {
    display: none;
}

#chat-log-area > div > div {
    display: flex;
    align-items: start;
    margin-bottom: 15px;
}

#chat-log-area p {
    border: 1px solid rgb(214, 214, 214);
    border-radius: 10px;
    width: 230px;
    margin: 0;
    word-wrap: break-word;
    margin: 0px 5px;
    padding: 6px 8px;
}

#chat-log-area img {
    width: 30px;
    height: 30px;
}

.right-log {
    float: right;
}

.right-log > div > div {
    font-size: 12px;
    text-align: end;
    margin: 3px 6px 3px 0px;
}

.left-log {
    float: left;
}

.left-log > div > div {
    font-size: 12px;
    text-align: start;
    margin: 3px 0px 3px 6px;
}

/* 채팅 입력 */
#chat-input-area {
    height: 123px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chat-input-area > div {
    width: 320px;
    height: 105px;
    background-color: white;
    border-radius: 5px;
}

#chat-input-area > div > textarea {
    width: 320px;
    height: 75px;
    border-radius: 5px;
    resize: none;
    padding: 3px 5px;
}

#chat-input-area > div > textarea::-webkit-scrollbar {
    display: none;
}

#chat-input-area > div > textarea:focus{
    outline: none;
}

#chat-input-area > div > div{
    display: flex;
    justify-content: end;
    align-items: center;
}

#chat-input-area > div button {
    border: none;
    background-color: white;
    width: 27px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chat-input-area img {
    width: 20px;
    height: 20px;
}

/* 검색 컨텐츠 */
#chat-search {
    margin: auto;
}

#searchbar-div {
    height: 32px;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#chat-search-bar {
    border: 1px solid rgb(196, 195, 195);
    border-radius: 9px 0px 0px 9px ;
    width: 240px;
    height: 100%;
    padding-left: 10px;
    border-right: none;
}

#chat-search-bar:focus {
    outline: none;
}

#search-btn {
    border: 1px solid rgb(196, 195, 195);
    background-color: white;
    border-left: none;
    border-radius: 0px 9px 9px 0px;
    cursor: pointer;
    padding-bottom: 4px;
}

#searchIcon {
    width: 20px;
}

.search-users {
    overflow-y: auto;
}

.search-users > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 273px;
    height: 35px;
    border-radius: 9px;
    background-color: white;
    margin: auto;
    margin-bottom: 10px;
    padding: 0 10px 0 4px;
}

.search-users > div > img {
    width: 30px;
    height: 30px;
}

.search-users p {
    margin: 0px;
    text-align: start;
    width: 150px;
}

.search-users button {
    border: none;
    background-color: white;
    width: 25px;
    height: 25px;
}

.search-users > button > img {
    width: 22px;
    height: 22px;
}