/* 팝업창을 띄우기 위한 배경 */
.modal {
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    position: fixed;
    display: none;
}

/* 컨텐츠가 표시되는 팝업창 */
.custom-modal {
    margin: auto;
    padding: 5px;
    width: 700px;
    border: 1px solid black;
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%);
}

/* 팝업창 헤더 */
.custom-modal-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 59px;
}

.custom-modal-title{
    margin: 10px 0 20px;
    font-size: 25px;
    font-weight: bold;
}

.material-symbols-outlined.close-btn{
    width: 30px;
    height: 30px;
    font-size: 30px;
    border: none;
    background: none;
    color: #00A6FB;
    padding: 0;
}

.material-symbols-outlined.close-btn:hover{
    color: black;
}

.material-symbols-outlined.close-btn:active{
    color: #00A6FB;
}

/* 팝업창 바디 */
.custom-modal-content{
    margin: 10px auto;
}

.button-area {
    margin-top: 10px;
}