#common-table-header .type-width18 {
    padding: 0;
}

#searchbar-div {
    margin-top: 30px;
}

.management button{
    margin: 0 auto;
}

#common-table-body .btn.btn-danger.custom-btn {
    width: 24px; /* 버튼 크기 조정 */
    height: 24px; /* 버튼 크기 조정 */
}