.wrapper {
    height: 100vh;
}

.managementTitle {
    font-size: 45px;
    font-weight: bold;
    border-bottom: 1px solid black;
    display: inline-block;
    padding: 15px 10px 8px;
}

.content {
    margin-top: 30px;
}

.btn.custom-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.btn.btn-primary.custom-btn{
    width: 125px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background: #00A6FB;
    font-weight: bold;
    overflow: hidden;
    
}

.btn.btn-warning.custom-btn,
.btn.btn-danger.custom-btn { 
    width: 24px; /* 버튼 크기 조정 */
    height: 24px; /* 버튼 크기 조정 */   
    overflow: hidden; /* 버튼 밖으로 넘치는 요소 숨기기 */
    color: black;
}

.btn.custom-btn:focus,
.btn.custom-btn:active,
.btn.custom-btn:hover{
    outline: none;
    box-shadow: none;
}

#boCount-wirte-div{
    width: 100%;
    display: flex;
    justify-content:end;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

#search-category{
    border: 1px solid rgb(176, 174, 174);
    border-radius: 9px;
    width: 80px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

#board-search-bar{
    border: 1px solid rgb(196, 195, 195);
    border-radius: 9px 0px 0px 9px ;
    width: 400px;
    height: 30px;
    padding-left: 10px;
    margin-left: 10px;
    border-right: none;
}

#searchbar-div{
    display: flex;
    justify-content: center;
}

#paging-div{
    margin-top: 50px;
    display: flex;
    justify-self: center;
}

.page-btn{
    border: none;
    background-color: white;
    font-weight: 600;
    cursor: pointer;
}

#search-btn{
    border: 1px solid rgb(196, 195, 195);
    background-color: white;
    border-left: none;
    border-radius: 0px 9px 9px 0px;
    cursor: pointer;
}