.management button{
    margin: 0 auto;
}

#common-table-body .btn.btn-danger.custom-btn {
    width: 125px;
    height: 30px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
input[type='number'] {
    -moz-appearance: textfield; 
}

.suspension-btn {
    width: 20px;
    height: 20px;
    font-size: 0.9em;
    border: 1px solid black;
}