.wrapper {
    width: 600px;
}

input::placeholder{
    color: rgb(199, 199, 199);
}

#logo-img {
    display: flex;
    justify-content: center;
    margin: 30px 0 30px 0;
}

#logo-img > a > img{
    width: 210px;
    height: 78px;
}

.wrapper > h1 {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

.enroll-input-title{
    margin-top: 12px;
    margin-bottom: 5px;
}

.enroll-input-area{
    height: 35px;
    border: 1px solid rgb(199, 199, 199); 
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
}

.enroll-input-area > input {
    width: 83%;
    height: 100%;
}

.enroll-input-area > input:focus {
    outline: none;
}

.enroll-input-area > div {
    width: 90px;
    height: 25px;
    font-size: 12px;
    font-weight: bold;
    background-color: rgba(0, 166, 251, 1);
    color: white;
    border: none;
    border-radius: 5px;
}

#enroll-phone {
    width: 100%;
}

#enroll-email-certify{
    display: flex;
}

#enroll-email {
    width: 60%;
    margin-right: 5px;
}

#enroll-certify {
    width: 40%;
}

#enroll-email > input {
    border: none;
    border-radius: 5px;
}

#email-input1 {
    width: 70%;
}

#certifyNo {
    width: 56%;
}

#enroll-address {
    margin-bottom: 5px;
}

#post-detail-address { 
    border: none;
    padding: 0px;
}

#post-no {
    border: 1px solid rgb(199, 199, 199);
    border-radius: 5px;
    padding: 5px;
    width: 120px;
    margin-right: 5px;
}

#detail-address {
    border: 1px solid rgb(199, 199, 199);
    border-radius: 5px;
    padding: 5px;
}

.enroll-btn {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enroll-btn button, .enroll-btn a{
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

#enroll-enter {
    border: 1px solid rgba(0, 166, 251, 1);
    margin-right: 120px;
    color: rgba(0, 166, 251, 1);
}

#enroll-enter:hover{
    border: none;
    background-color: rgba(0, 166, 251, 1);
    color: white;
}

#enroll-cancel {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#idArea{
    display: flex;
    align-items: center;
}

#idArea > div {
    font-size: 10px;
    padding-top: 14px;
}

#pwdArea{
    display: flex;
    align-items: center;
}

#pwdArea > div {
    font-size: 10px;
    padding-top: 14px;
}

#nickArea{
    display: flex;
    align-items: center;
}

#nickArea > div {
    font-size: 10px;
    padding-top: 14px;
}

#certifyArea{
    display: flex;
    align-items: center;
}

#certifyArea > div {
    font-size: 10px;
    padding-top: 14px;
}

.all-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#emailCheck {
    display: flex;
    align-items: center;
}

#emailCheck div {
    display: none;
    font-size: 10px;
    padding-top: 14px;
}