.wrapper {
    /* border: 1px solid black; */
}

#side-navi {
    width: 100px;
    padding: 5px;
    position: fixed;
    z-index: 10000;
    top: 25%;
    border: 1px solid black;
}

#side-title{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin-bottom: 5px;
}