#logo-img {
    display: flex;
    justify-content: center;
    padding: 250px 0 30px 0;
}

#logo-img > a > img{
    width: 210px;
    height: 78px;
}

.wrapper form {
    border: 1px solid black;
    border-radius: 10px;
    width: 450px;
    margin: auto;
    margin-bottom: 20px;
}

.wrapper h1{
    text-align: center;
    color: rgba(0, 166, 251, 1);
    font-weight: 500;
    padding: 10px 0 25px 0;
}

.wrapper > form > div > input{
    display: block;
    border: 1px solid black;
    width: 300px;
    height: 35px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

#certifyNo {
    padding-left: 5px;
}

.wrapper > form > div > input[type="submit"] {
    background-color: rgba(0, 166, 251, 1);
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
}

#certifyArea {
    text-align: center;
    padding-bottom: 10px;
}