@charset "UTF-8";
.exerTitle{
    font-size: 50px;
    text-align: center;
    margin-top: 80px;
    caret-color: transparent;
}

#exerSearch-form{
    width: 1056px;
    height: 320px;
    margin-top: 100px;
    padding-top: 1px;
}



#exerSearch-form table th p{
    width: 150px; height: 100px;
    background-color: #DBF1FD;
    font-size: 24px;
    font-weight: 480;
    line-height: 100px;
    border-radius: 100px;
    text-align: center;
}

.part{
    height: 100px;
    width: 1000px;
}

.part select{
    appearance: none;
    height: 80px;
    width: 400px;
    border-radius: 50px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.part{
    width: 970px; height: 80px;
    border-radius: 50px;
    border: solid none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.part input[type=checkbox]{
    display: none;
}

.part input[type=checkbox]+label{
    display: inline-block;
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-radius: 30px;
    line-height: 24px;
    align-items: center;
    font-weight:bold;
    font-size:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 25px;
    caret-color: transparent;
}

.part input[type=checkbox]+label{
    background-color: #fff;
    color: #333;
}
.part input[type=checkbox]:checked+label{
    background-color: #DFF0FF;
    color: #333;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}



.difficulty{
    height: 80px;
    width: 970px;
    border-radius: 50px;
    border: solid none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    caret-color: transparent;
    margin-top: 200px;
}

.difficulty select{
    appearance: none;
    height: 80px;
    width: 400px;
    border-radius: 50px;
}

.difficulty input[type=checkbox]{
    display: none;
}

.difficulty input[type=checkbox]+label{
    display: inline-block;
    cursor: pointer;
    height: 100px;
    width: 100px;
    border-radius: 30px;
    line-height: 24px;
    align-items: center;
    font-weight:bold;
    font-size:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 20px;
    margin-bottom: 250px;
}

.difficulty input[type=checkbox]+label{
    background-color: #fff;
    color: #333;
}
.difficulty input[type=checkbox]:checked+label{
    background-color: #DFF0FF;
    color: #333;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.exerContent{
    margin-top: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* 세로 정렬 */
}

.exerTitle2{
    font-size: 50px;
    caret-color: transparent;
}

.search input[type=text]{
    width: 200px;
    height: 40px;
}

.content-box{
    margin-top: 100px;
    border-radius: 100px;
    width: 1056px;
    height: 2000PX;
    background-color: #DBF1FD;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}

.list-box {
    width: 1080px;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
}

#list-con{
    padding-bottom: 20px;
}

 #list-img{
     width: 250px; height: 250px;
     margin: 0 auto;
 }
 #under-area{
     display: flex;
     justify-content: space-between;
     
 }
 .list-text{
    font-size: 20px;
    font-weight: 700;
 }

.list-text2{
     font-size: 25px;
     border: 1px #000; height: 40px;
 }
 #under-area button{
     margin-right: 10px;
     float: right;
     border-radius: 100px;
     border: none;
     background-color: #DFF0FF;
     display: block;
     cursor: pointer;
     width: 40px;
     height: 40px;
 }

 #under-area button img{
    width: 40px;
    height: 40px;
 }

 .list-text, .list-text2{
    margin-left: 15px;
 }
 
 #paging-area{
 	margin-left: 200px;
    align-items: center;
    font-size: large;
 }
 
  #paging-area a {
  	color: black;
  }
  	

 .flootbox-title{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
 }

 .flootbox-content{
    width: 210px;
    height: 700px;
    background-color: #DBF1FD;
    border-radius: 10px;
    margin-top: 5px;
 }

 #container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start
  }

  #container > .wrapper, #container > .flootbox {
    padding: 80px;
  }

  #container .flootbox {
    position: sticky;
    top: 120px;
  }

