@charset "UTF-8";
/* main*/
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    flex-direction: column;
}

/* ~ header ~ */
.productDetailHeader{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.productImg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 495px;
    height: 660px;
}

.reImg{
    border-radius: 20px;
    width: 370px;
    height: 370px;
}

.reImg > img{
    height: 100%;
    width: 100%;
}

.detailImg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;

}

.diImg{
    background: #9e9e9e;
    border-radius: 20px;
    width: 80px;
    height: 80px;
}

.diImg > img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.productContent{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 400px;
    gap: 30px;
}

.productLocation{
    color: #d8d8d8;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #b4b4b4;
}

.productDetail{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid #b4b4b4;
    gap: 50px;
    padding: 10px;
    font-family: "Do Hyeon", serif;
    font-size: 32px;
    font-weight: 400;
}

.assess{
    color: #FD0909;
    font-size: 28px;
}

/* */

.BtnPrice{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
}

.quantityBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 110px;
    height: 35px;
    border: #ddd 1px solid;
    background: #f3f3f3;
    flex: 1;
}

.quanText{
    background: #ffffff;
    width: 100%;
    height: 33px;
    text-align: center;
    line-height: 33px;
}

.Btnmin{
    cursor: pointer;
    border: none;
    font-size: 20px;
    width: 100%;
    height: 31px;
    border-radius: 5px 0px 0px 5px;
}

.Btnpls{
    cursor: pointer;
    border: none;
    font-size: 20px;    
    width: 100%;
    height: 31px;
    border-radius: 0px 5px 5px 0px;
}

/* 구매 와 장바구니 부분 */
.phaseCartBtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* 구매하기 버튼 */
.phaseBtn{
    cursor: pointer;
    font-size: 24px;
    font-family: "Do Hyeon", serif;
    color: #ffffff;
    border: none;
    background: #00A6FB;
    border-radius: 5px;
    width: 357px;
    height: 50px;
}

/* 장바구니 버튼 */
.cartBtn{
    cursor: pointer;
    font-size: 24px;
    font-family: "Do Hyeon", serif;
    background: #ffffff;
    border-radius: 5px;
    width: 357px;
    height: 50px;
}

/* 찜 버튼 */
.favoriteBtn{
    cursor: pointer;
    height: 50px;
    border: none;
    width: 357px;
    padding: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: none;
}

.favoriteBtn img{
    height: 45px;
    width: 45px;
}

/* ~~~~~ mid ~~~~~ */

.tab { /* 이 클래스가 위치한 메뉴로 스크롤 되었을 때, 맨 위 고정 */
    position: sticky;
    top: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    background: #051923;
    /* 새로(new) 추가 */
    height: 60px;
    font-family: "Do Hyeon", serif;
    font-size: 28px;
    user-select: none;
}

/* .tab input[type=radio]{
    display: none;
}

.tab input[type=radio] +label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px 3px 0px 2px;
    width: 352px;
    height: 60px;    
    font-family: "Do Hyeon", serif;
    font-size: 28px;
    user-select: none;
}


.tab input[type=radio] +label{
    background: #051923;
    color: #b6b6b6;
}

.tab input[type=radio]:checked+label{
    width: 348px;
    background: #fff;
    color: #575757;
} */

.tab > li {
    width: 264px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab  > li > a{
    color: #B6B6B6;
}

.tab-link.active {
    border: solid 1px black;
    border-bottom: none;
    background-color: white; /* 선택된 링크의 배경색 */
    color: black;
}



.contentDetail div{
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid #000000;
}

.contentImg{
    height: auto;
    padding: 20px 0px 10px 0px ;
}

.review1{
    border-bottom: 1px solid #000000;    
    padding: 20px 0px 20px 0px;
}

.reviewHeader{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    font-size: 22px; 
    font-weight: 500;
    margin: 10px 0px 15px 0px;
}

.reviewImg{
    display: flex;

}

.reviImg{
    width: 50px;
    height: 50px;
    background: #9e9e9e;
    border-radius: 10px;
}

.reviewProName{
    margin: 10px 0px 10px 0px;
    font-size: 12px;
    color: #bebebe;
}


.exchange-text{
    background: #051923;
    font-family: "Do Hyeon", serif;
    color: #e2e2e2;
    font-size: 32px;
    margin: 10px 0px;
    padding: 10px;
}

#qwer{
    width: 120px;
}