@charset "UTF-8";
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

#productPage{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    height: 912px;
}
/* 모든 버튼 스타일*/
button{
    border: none;
    background: none;
}

/* 왼쪽 사이드바 부분 */

ul.side-nav {
    border: 5px solid #003554;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 150px; /* 왼쪽 사이드바 크기 */
}

li{ 
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    width: 100%;
}

.side-nav-header{ /* 왼쪽 사이드바 헤더*/
    background: #003554;
    color: #ffffff;
    font-size: 26px;
    letter-spacing: 1.60px;
    width: 100%;
    display: flex;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

#selected{ /* 왼쪽 사이드바 나머지*/
    display: flex;
    align-items: center;
    justify-content: center;
    color:#636363;    
    font-size: 20px;
    font-weight: 600;
    height: 100%;
}

/* 페이징, 검색 바*/
.productPageA{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 1060px;
    height: 1200px;
    gap: 35px;
}
/* 상품, 중고 이동 버튼 부분*/
.MoveBtn {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 1060px;
    border-bottom: #003554 2px solid;
}

button.productMove, button.usedMove {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2.00px;
    font-family: "Do Hyeon", serif;
    font-size: 28px;
    color: #006494;
    background: #ffffff;
    font-weight: 400;
    border: none;    
    width: 100%;
    height: 73px;
}

/* 상품 목록 */
.productListArr{/* 상품 리스트 3*3 으로 정렬 */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 1030px;
    height: 912px;
    gap: 10px;
    padding: 10px;
}

.productList{ /* 상품 한 개당 */
    /*border: 1px solid #000000;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 285px;
    gap: 20px;
}

.productImg img{ /* 상품 이미지 */
    height: 200px;
    width: 200px;
    border-radius: 30px;
    border: none;
    /*background: #006494;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.productText{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 200px;
    flex-direction: column;
    gap: 5px;
}

.productName{
    width: 100%;
    font-size: 24px;
}

.productTextHeader{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.productTextMid{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 90px;
    width: 100%;
}

.productTexts{
    display: flex;
    flex-direction: row;
}

.textStar{
    color:#E19192;
    font-size: 12px;
}

.totalAssess{
    color: #C8C4C4;
    font-size: 12px;
}

.mainPrice{
    font-size: 20px;
    font-weight: 700;
}

/* 페이징 스타일 */
span button{
    border: none;
    background: none;
}

/* 검색 스타일*/
.produBottom{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    gap: 10px;    
    border-radius: 8px;
}

#produCategory{
    height: 100%;    
    border-radius: 8px;
    border: #d9d9d9 solid 1px;
    width: 100px;
}

.produSearch{
    height: 100%;    
    border-radius: 8px;
    border: #d9d9d9 solid 1px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.produSearchCan{
    height: 100%;
    background: none;
}

