@charset "UTF-8";

.challengeDtitle{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin-top: 90px;
}

#common-table{
    margin-top: 50px;
    width: 100%;    
    border-collapse: separate; /* border-spacing 적용을 위한 설정 */
}

.notice{
    background-color: #DBF1FD;
}


th, td, tr{
    width: 12.5%;
    height: 40px;
    text-align: center;
}

.board-category{
    font-size: 16px;
}


#common-table > tbody > tr {
    border-bottom: 1px solid rgb(207, 207, 207) !important;
}
