@charset "UTF-8";

.challengeTitle{
    margin-top: 70px;
    margin-left: 40px;

}
.challengeTitle > p{
    font-weight: bold;
    font-size: 45px;
    display: inline-block; /* 밑줄 길이 조절 가능 */
    border-bottom: 2px solid black; /* 두께와 색상 설정 */
    padding-bottom: 10px;
}

.challengeContent{
    margin-top: 30px;
    display: flex   ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 40px;
    padding: 10px;
}

.chList{
    border-radius: 15px;
    border: 1px solid #D5D5D5;
    width: 300px;
    height: 300px;
}

.listImg{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D5D5D5;
    height: 198px;
    border-radius: 15px 15px 0 0;
}

.listImg > img {
    width: 240px;
    height: 190px;
}

.under{
    margin-top: 10px;
}

.challengeName > p {
    font-size: 15px;
    margin-left: 8px;
}

.challengeStatus{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    padding-inline: 8px;
}

.statusContent{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #DBF1FD;
    border-radius: 10px;
    width: 70px;
    height: 25px;

}
